# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
ENV/
env/
.venv

# Poetry
poetry.lock

# PyCharm
.idea/

# VS Code
.vscode/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Testing
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Documentation
docs/_build/
documentations/node_modules/
documentations/.docusaurus/
documentations/build/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.swo
*~
.cache/